@theme {
  --color-black: #000;
  --color-white: #fff;
  --color-off-black: #222;
  --color-transparent: #0000;
  --color-currentcolor: currentcolor;

  --color-gray: #909090;
  --color-blue: oklch(74% 0.104 258);
  --color-light-blue: oklch(79% 0.0788 258);
  --color-paper: #fcfcf9;
  --color-cream: #f0efe4;

  --color-amber: #ffc81c;
  --color-focus: oklch(74% 26% 258);
  --color-error: oklch(74% 26% 29);
  --color-selection: oklch(78% 35% 258 / 50%);

  --color-root: var(--color-cream);
  --color-background: var(--color-paper);
  --color-foreground: var(--color-off-black);

  --color-gray: #909090;
  --color-link: oklch(54.12% 0.1924 258);
}

@layer base {
  :root {
    color: var(--color-foreground);
    color-scheme: light dark;

    /* Overscroll background in Chrome */
    background-color: var(--color-root);
    /* Link long press background color on iOS (yes, it uses :root for that) */
    @supports (-webkit-touch-callout: none) {
      background-color: var(--color-background);
    }

    @media (color-gamut: p3) {
      --color-amber: oklch(87.5% 0.184 88);
    }

    @media (prefers-color-scheme: dark) {
      --color-root: var(--color-off-black);
      --color-background: var(--color-off-black);
      --color-foreground: var(--color-cream);
      --color-off-black: #080808;
      background-image: none;
    }
  }

  body {
    background-color: var(--color-root);
  }

  ::selection {
    background-color: var(--color-selection);
  }
}
