@tailwind base;
@tailwind components;
@tailwind utilities;

@import './leva.css';

@font-face {
  font-family: matter;
  font-style: normal;
  font-display: swap;
  src: url('https://assets.paper.design/fonts/matter-variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Paper Mono';
  font-style: normal;
  font-display: swap;
  src: url('https://paper.design/paper-mono-0.100.woff2') format('woff2');
}

body {
  font-family: matter, system-ui, sans-serif;
}

pre {
  font-family: 'Paper Mono', monospace;
}

pre::-webkit-scrollbar {
  height: 6px;
}

pre::-webkit-scrollbar-track {
  background: transparent;
}

pre::-webkit-scrollbar-thumb {
  background-color: #989b96;
  border-radius: 3px;
}

pre::-webkit-scrollbar-thumb:hover {
  background-color: #777772;
}
