@import 'tailwindcss';

@theme {
  --color-root: var(--root);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--paper-blue);
  --color-muted-foreground: var(--muted-foreground);

  --breakpoint-container: 1300px;

  --height-nav: 72px;

  /* code */
  --color-code-keyword: var(--color-red-500);
  --color-code-default: var(--color-neutral-400);
  --color-code-string: var(--color-orange-600);
  --color-code-component: var(--color-blue-600);
  --color-code-property: var(--color-green-700);
  --color-code-number: var(--color-purple-600);
  --color-code-boolean: var(--color-pink-600);
  --color-code-function: var(--color-yellow-600);
  --color-code-comment: var(--color-gray-400);
}

@font-face {
  font-family: matter;
  font-style: normal;
  font-display: swap;
  src: url('https://assets.paper.design/fonts/matter-variable.woff2') format('woff2');
}

:root {
  --paper-blue: oklch(74% 0.104 258);
  --root: #f0efe4;
  --foreground: #222;
  --background: #fcfcf9;
  --muted-foreground: #909090;
  --device-pixel-ratio: 2;
}

body {
  font-family: matter, system-ui, sans-serif;
}

#leva__root button {
  background-color: var(--leva-colors-elevation1);

  &:hover,
  &:active,
  &:focus {
    box-shadow: inset 0 0 0 var(--leva-borderWidths-hover) var(--leva-colors-elevation3);
  }
}

@utility dot-pattern {
  --dot-color: #0008;
  --dot-size: 0.9px;
  --dot-step: 24px;
  --dot-stop: calc(var(--dot-size) - min(0.5px, 1px / var(--device-pixel-ratio)));

  background-size: var(--dot-step) var(--dot-step);
  background-position: calc(50% + var(--dot-step) / 2) 0;
  background-image: radial-gradient(
    var(--dot-step) circle,
    var(--dot-color) var(--dot-stop),
    transparent var(--dot-size)
  );
}

.line {
  @apply relative block [counter-increment:line] before:absolute before:top-0 before:left-0 before:w-8 before:pr-4 before:text-right before:text-xs before:text-neutral-400 before:content-[counter(line)] before:select-none;
}

.keyword {
  @apply text-red-500;
}
