#leva__root {
  --leva-sizes-rootWidth: 300px;
  --leva-sizes-controlWidth: 140px;
  --leva-sizes-numberInputMinWidth: 6ch;
  --leva-sizes-folderTitleHeight: 32px;

  /* Theme overrides. Note: using the Leva theme prop instead of CSS variables causes overflows with some sections that have a dynamic number of inputs such as colors. */
  --leva-colors-elevation1: #e0e0d9; /* bg color of the root panel (main title bar) */
  --leva-colors-elevation2: #f6f5ee; /* bg color of the rows (main panel color) */
  --leva-colors-elevation3: #e0e0d9; /* bg color of the inputs */
  --leva-colors-accent1: #999;
  --leva-colors-accent2: #555551;
  --leva-colors-accent3: #666662;
  --leva-colors-highlight1: #555551;
  --leva-colors-highlight2: #222205;
  --leva-colors-highlight3: #222205;
  --leva-shadows-level1:
    rgba(58, 34, 17, 0.1) 0px 4px 40px -8px, rgba(58, 34, 17, 0.2) 0px 12px 20px -8px,
    rgba(58, 34, 17, 0.1) 0px 0px 0px 1px;
  --leva-shadows-level2: 0 4px 14px #00000033;
}

/* --leva-colors-folderTextColor is set via style tag, so we need an even higher specificity */
div[style*='--leva-colors-folderTextColor'] {
  --leva-colors-folderTextColor: #111102 !important;
}

#leva__root *::selection {
  background-color: #555551;
  color: white;
}

#leva__root > div {
  font-family: var(--font-mono);
  margin: 0;
  top: 108px;
  right: auto;

  --pl: 3rem;
  --pr: calc(6rem + 300px);
  --w: var(--leva-sizes-rootWidth);
  --max-w: 1168px;
  /* TODO Vlad also scrollbars? */
  left: calc(6rem + min(100dvw - var(--pl) - var(--pr), var(--max-w)));
}

#leva__root button {
  background-color: #999 !important;
  color: white !important;

  &:hover,
  &:active,
  &:focus {
    background-color: #b8b9b4 !important;
    box-shadow: none;
  }
}

#leva__root div:has(> div > button) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#leva__root div:has(> button) {
  width: 48%;
  margin-top: 0;
}

#leva__root input[type='checkbox'] + label > svg {
  stroke: white;
}

@media (width < 1280px) {
  #leva__root {
    display: none;
  }
}
